* { 
  box-sizing: border-box; 
  margin: 0; 
  padding: 0; 
}
body { 
  font-family: Arial, sans-serif; 
  line-height: 1.6; 
  background: #081b29;
}
input, button { 
  padding: 0.5rem; 
  margin: 0.2rem 0; 
  width: 100%; 
  background: transparent;
  color: #fff;
  border: 2px solid gray; 
}
button {    
  position: relative;
  width:  100%;
  height: 35px;
  border: 2px solid #0ef;
  border-radius: 45px;
  font-size: 16px;
  color: #fff;
  font-weight: 300;
  background: linear-gradient(#081b29,#0ef,#081b29,#0ef);
  cursor: pointer;
}
button:hover { 
  background: #2980b9; 
}
.auth-container { 
  max-width: 450px; 
  height: 300px; 
  margin: 10% auto; 
  padding: 2rem; 
  border: 2px solid #0ef; 
  border-radius: 8px; 
  box-shadow: 0 0 25px #0ef; 
}
.auth-container h2 { 
  color: #fff;    
  text-align: center;
  pointer-events: none;
}
.auth-container p { 
  color: grey;
  text-align: center;
}
.auth-container a { 
  color: #0ef;
}
.alert { 
  color: red; 
  margin: 1rem 0; 
}
@media (max-width: 768px) {
  nav { display: flex; flex-wrap: wrap; }
  nav a { margin: 0.5rem; }
  .grid { grid-template-columns: 1fr; }
}